In [1]:
!pip install requests psycopg2-binary pandas

Requirement already satisfied: requests in c:\users\acer\anaconda3\lib\site-packages (2.32.3)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp313-cp313-win_amd64.whl.metadata (4.8 kB)
Requirement already satisfied: pandas in c:\users\acer\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\acer\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\acer\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\acer\anaconda3\lib\site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\acer\anaconda3\lib\site-packages (from requests) (2025.6.15)
Requirement already satisfied: numpy>=1.26.0 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\acer\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading psycopg2_binary-2.9.10-cp313-cp313-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.6 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.6 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.6 MB ? eta -:--:--
   -------- ------------------------------- 0.5/2.6 MB 553.5 kB/s eta 0:00:04
   -------- ------------------------------- 0.5/2.6 MB 553.5 kB/s eta 0:00:04
   ------------ --------------------------- 0.8/2.6 MB 546.5 kB/s eta 0:00:04
   ------------ --------------------------- 0.8/2.6 MB 546.5 kB/s eta 0:00:04
   ------------ --------------------------- 0.8/2.6 MB 546.5 kB/s eta 0:00:04
   ---------------- ----------------------- 1.0/2.6 MB 472.4 kB/s eta 0:00:04
   ---------------- ----------------------- 1.0/2.6 MB 472.4 kB/s eta 0:00:04
   ---------------- ----------------------- 1.0/2.6 MB 472.4 kB/s eta 0:00:04
   ---------------- ----------------------- 1.0/2.6 MB 472.4 kB/s eta 0:00:04
   ---------------- ----------------------- 1.0/2.6 MB 472.4 kB/s eta 0:00:04
   -------------------- ------------------- 1.3/2.6 MB 378.2 kB/s eta 0:00:04
   -------------------- ------------------- 1.3/2.6 MB 378.2 kB/s eta 0:00:04
   -------------------- ------------------- 1.3/2.6 MB 378.2 kB/s eta 0:00:04
   -------------------- ------------------- 1.3/2.6 MB 378.2 kB/s eta 0:00:04
   -------------------- ------------------- 1.3/2.6 MB 378.2 kB/s eta 0:00:04
   -------------------- ------------------- 1.3/2.6 MB 378.2 kB/s eta 0:00:04
   -------------------- ------------------- 1.3/2.6 MB 378.2 kB/s eta 0:00:04
   -------------------- ------------------- 1.3/2.6 MB 378.2 kB/s eta 0:00:04
   ------------------------ --------------- 1.6/2.6 MB 295.9 kB/s eta 0:00:04
   ------------------------ --------------- 1.6/2.6 MB 295.9 kB/s eta 0:00:04
   ------------------------ --------------- 1.6/2.6 MB 295.9 kB/s eta 0:00:04
   ------------------------ --------------- 1.6/2.6 MB 295.9 kB/s eta 0:00:04
   ------------------------ --------------- 1.6/2.6 MB 295.9 kB/s eta 0:00:04
   ------------------------ --------------- 1.6/2.6 MB 295.9 kB/s eta 0:00:04
   ---------------------------- ----------- 1.8/2.6 MB 277.9 kB/s eta 0:00:03
   ---------------------------- ----------- 1.8/2.6 MB 277.9 kB/s eta 0:00:03
   ---------------------------- ----------- 1.8/2.6 MB 277.9 kB/s eta 0:00:03
   ---------------------------- ----------- 1.8/2.6 MB 277.9 kB/s eta 0:00:03
   ---------------------------- ----------- 1.8/2.6 MB 277.9 kB/s eta 0:00:03
   -------------------------------- ------- 2.1/2.6 MB 268.4 kB/s eta 0:00:02
   -------------------------------- ------- 2.1/2.6 MB 268.4 kB/s eta 0:00:02
   -------------------------------- ------- 2.1/2.6 MB 268.4 kB/s eta 0:00:02
   -------------------------------- ------- 2.1/2.6 MB 268.4 kB/s eta 0:00:02
   -------------------------------- ------- 2.1/2.6 MB 268.4 kB/s eta 0:00:02
   ------------------------------------ --- 2.4/2.6 MB 266.1 kB/s eta 0:00:01
   ------------------------------------ --- 2.4/2.6 MB 266.1 kB/s eta 0:00:01
   ------------------------------------ --- 2.4/2.6 MB 266.1 kB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 271.4 kB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10

In [25]:
import requests
import psycopg2
import pandas as pd
from psycopg2 import sql
from datetime import datetime
from IPython.display import display

print("Pustaka berhasil diimpor.")
#202331203_Michael Christia Putra

Pustaka berhasil diimpor.

In [28]:
DB_SETTINGS = {
    "dbname": "weather_db",
    "user": "postgres",
    "password": "1234",
    "host": "localhost",
    "port": "5432"
}

print("Pengaturan database telah dikonfigurasi.")
#202331203_Michael Christia Putra

Pengaturan database telah dikonfigurasi.

In [30]:
try:
    conn = psycopg2.connect(**DB_SETTINGS)
    cur = conn.cursor()
    print("Koneksi ke database PostgreSQL berhasil.")
except psycopg2.OperationalError as e:
    print(f"Error: Gagal terhubung ke database. Periksa pengaturan koneksi Anda.")
    print(f"Detail: {e}")
    conn = None 

# Perintah SQL untuk membuat tabel
if conn:
    commands = (
        """
        CREATE TABLE IF NOT EXISTS weekly_temperature (
            id SERIAL PRIMARY KEY, forecast_date DATE UNIQUE NOT NULL, temperature_celsius NUMERIC(10, 8) NOT NULL,
            latitude NUMERIC(10, 4) NOT NULL, longitude NUMERIC(10, 4) NOT NULL,
            fetched_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
        );
        """,
        """
        CREATE TABLE IF NOT EXISTS hourly_forecast (
            id SERIAL PRIMARY KEY, provinsi VARCHAR(100), kotkab VARCHAR(100), kecamatan VARCHAR(100), desa VARCHAR(100),
            latitude NUMERIC(10, 8), longitude NUMERIC(10, 8), datetime_utc TIMESTAMP UNIQUE NOT NULL, temperature_celsius INT,
            weather_description VARCHAR(255), wind_direction VARCHAR(50), wind_speed_kph NUMERIC(5, 2), humidity INT,
            fetched_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
        );
        """,
        """
        CREATE TABLE IF NOT EXISTS aviation_observation (
            icao_id VARCHAR(10) NOT NULL, observed_time TIMESTAMP NOT NULL, station_name VARCHAR(255),
            latitude NUMERIC(10, 8), longitude NUMERIC(10, 8), weather VARCHAR(255), temperature_celsius INT, pressure_hpa INT,
            fetched_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP, PRIMARY KEY (icao_id, observed_time)
        );
        """,
        """
        CREATE TABLE IF NOT EXISTS weather_videos (
            id SERIAL PRIMARY KEY, title VARCHAR(255) UNIQUE NOT NULL, video_url VARCHAR(255) NOT NULL,
            fetched_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
        );
        """,
        """
        CREATE TABLE IF NOT EXISTS weather_articles (
            article_id INT PRIMARY KEY, publish_date TIMESTAMP NOT NULL, title TEXT NOT NULL,
            link TEXT UNIQUE NOT NULL, author_name VARCHAR(255),
            fetched_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
        );
        """
    )
    try:
        for command in commands:
            cur.execute(command)
        conn.commit()
        print("Semua tabel berhasil diperiksa/dibuat.")
    except (Exception, psycopg2.DatabaseError) as error:
        print(f"Error saat membuat tabel: {error}")
        conn.rollback()\
#202331203_Michael Christia Putra

Koneksi ke database PostgreSQL berhasil.
Semua tabel berhasil diperiksa/dibuat.

In [31]:
print("--- Memulai ETL 1: Temperatur Mingguan ---")

if 'conn' not in locals() or not conn:
    print("Error: Koneksi database tidak ditemukan. Jalankan Sel 3 terlebih dahulu.")
else:
    lat, lon = -6.2151, 106.8461
    url = f"https://cuaca.bmkg.go.id/api/v1/public/weather/weekly-temperature?lat={lat}&long={lon}"

    headers = {
        'x-api-key': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjFjNWFkZWUxYzY5MzM0NjY2N2EzZWM0MWRlMjBmZWZhNDcxOTNjYzcyZDgwMGRiN2ZmZmFlMWVhYjcxZGYyYjQiLCJpYXQiOjE3MDE1ODMzNzl9.D1VNpMoTUVFOUuQW0y2vSjttZwj0sKBX33KyrkaRMcQ'
    }

    try:
        response = requests.get(url, headers=headers)
        response.raise_for_status()
        
        data = response.json().get('data', {}).get('daily', [])
        print(f"Ekstraksi data dari {url} berhasil.")
        
        records = []
        for record in data:
            records.append({
                "forecast_date": datetime.fromisoformat(record['date'].replace('Z', '+00:00')).date(),
                "temperature_celsius": record['temperature'],
                "latitude": lat,
                "longitude": lon
            })
        
        df_temp = pd.DataFrame(records)
        print("\nData yang akan dimasukkan (Transform):")
        display(df_temp)

        if not df_temp.empty:
            for index, row in df_temp.iterrows():
                cur.execute(
                    """
                    INSERT INTO weekly_temperature (forecast_date, temperature_celsius, latitude, longitude)
                    VALUES (%s, %s, %s, %s) ON CONFLICT (forecast_date) DO NOTHING;
                    """,
                    (row['forecast_date'], row['temperature_celsius'], row['latitude'], row['longitude'])
                )
            conn.commit()
            print(f"\nLoad berhasil: {len(df_temp)} baris data dimasukkan/dilewati ke tabel 'weekly_temperature'.")

    except Exception as e:
        print(f"Terjadi error: {e}")
        if 'conn' in locals() and conn:
            conn.rollback()
            print("Transaksi dibatalkan (rollback).")

--- Memulai ETL 1: Temperatur Mingguan ---
Ekstraksi data dari https://cuaca.bmkg.go.id/api/v1/public/weather/weekly-temperature?lat=-6.2151&long=106.8461 berhasil.

Data yang akan dimasukkan (Transform):

  forecast_date  temperature_celsius  latitude  longitude
0    2025-07-02            26.088803   -6.2151   106.8461
1    2025-07-03            25.918488   -6.2151   106.8461
2    2025-07-04            25.344962   -6.2151   106.8461
3    2025-07-05            25.569670   -6.2151   106.8461
4    2025-07-06            25.290600   -6.2151   106.8461
5    2025-07-07            26.914716   -6.2151   106.8461
6    2025-07-08            26.154286   -6.2151   106.8461

Load berhasil: 7 baris data dimasukkan/dilewati ke tabel 'weekly_temperature'.

In [18]:
print("--- Memulai ETL 2: Prakiraan Cuaca per Jam ---")

# Pastikan variabel 'conn' dan 'cur' ada dari sel sebelumnya
if 'conn' not in locals() or not conn:
    print("Error: Koneksi database tidak ditemukan. Jalankan Sel 3 terlebih dahulu.")
else:
    lat, lon = -6.2151, 106.8461
    url = f"https://cuaca.bmkg.go.id/api/df/v1/forecast/coord?lon={lon}&lat={lat}"

    # Menggunakan API Key yang sama dari langkah sebelumnya
    headers = {
        'x-api-key': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjFjNWFkZWUxYzY5MzM0NjY2N2EzZWM0MWRlMjBmZWZhNDcxOTNjYzcyZDgwMGRiN2ZmZmFlMWVhYjcxZGYyYjQiLCJpYXQiOjE3MDE1ODMzNzl9.D1VNpMoTUVFOUuQW0y2vSjttZwj0sKBX33KyrkaRMcQ'
    }

    try:
        # EXTRACT - Menambahkan headers pada request
        response = requests.get(url, headers=headers)
        response.raise_for_status()
        api_data = response.json()
        print(f"Ekstraksi data dari {url} berhasil.")

        # TRANSFORM
        lokasi = api_data.get('lokasi', {})
        # Penanganan jika struktur data tidak seperti yang diharapkan
        forecast_data = []
        if api_data.get('data') and api_data['data'][0].get('cuaca'):
             forecast_data = api_data['data'][0]['cuaca'][0]

        records = []
        for record in forecast_data:
            records.append({
                "provinsi": lokasi.get('provinsi'), "kotkab": lokasi.get('kotkab'), "kecamatan": lokasi.get('kecamatan'),
                "desa": lokasi.get('desa'), "latitude": lokasi.get('lat'), "longitude": lokasi.get('lon'),
                "datetime_utc": datetime.fromisoformat(record['datetime'].replace('Z', '+00:00')),
                "temperature_celsius": record.get('t'), "weather_description": record.get('weather_desc'),
                "wind_direction": record.get('wd'), "wind_speed_kph": record.get('ws'), "humidity": record.get('hu')
            })

        df_hourly = pd.DataFrame(records)
        print("\nData yang akan dimasukkan (Transform):")
        # Menampilkan beberapa baris pertama agar output tidak terlalu panjang
        display(df_hourly[['datetime_utc', 'temperature_celsius', 'weather_description', 'desa']].head())

        # LOAD
        if not df_hourly.empty:
            for index, row in df_hourly.iterrows():
                cur.execute(
                    """
                    INSERT INTO hourly_forecast (provinsi, kotkab, kecamatan, desa, latitude, longitude, datetime_utc, 
                    temperature_celsius, weather_description, wind_direction, wind_speed_kph, humidity)
                    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s) ON CONFLICT (datetime_utc) DO NOTHING;
                    """, tuple(row)
                )
            conn.commit()
            print(f"\nLoad berhasil: {len(df_hourly)} baris data dimasukkan/dilewati ke tabel 'hourly_forecast'.")
        elif not records:
             print("\nTidak ada data prakiraan per jam untuk dimasukkan saat ini.")

    except Exception as e:
        print(f"Terjadi error: {e}")
        if 'conn' in locals() and conn:
            conn.rollback()
            print("Transaksi dibatalkan (rollback).")

--- Memulai ETL 2: Prakiraan Cuaca per Jam ---
Ekstraksi data dari https://cuaca.bmkg.go.id/api/df/v1/forecast/coord?lon=106.8461&lat=-6.2151 berhasil.

Data yang akan dimasukkan (Transform):

,datetime_utc,temperature_celsius,weather_description,desa
0,2025-07-02 03:00:00+00:00,30,Cerah,Manggarai
1,2025-07-02 04:00:00+00:00,31,Cerah,Manggarai
2,2025-07-02 05:00:00+00:00,31,Cerah,Manggarai
3,2025-07-02 06:00:00+00:00,31,Hujan Sedang,Manggarai
4,2025-07-02 07:00:00+00:00,29,Hujan Sedang,Manggarai

Load berhasil: 14 baris data dimasukkan/dilewati ke tabel 'hourly_forecast'.

In [21]:
print("--- Memulai ETL 3: Observasi Penerbangan ---")

# Pastikan variabel 'conn' dan 'cur' ada dari sel sebelumnya
if 'conn' not in locals() or not conn:
    print("Error: Koneksi database tidak ditemukan. Jalankan Sel 3 terlebih dahulu.")
else:
    url = "https://cuaca.bmkg.go.id/api/v1/aviation/latest/observation.json"

    headers = {
        'x-api-key': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjFjNWFkZWUxYzY5MzM0NjY2N2EzZWM0MWRlMjBmZWZhNDcxOTNjYzcyZDgwMGRiN2ZmZmFlMWVhYjcxZGYyYjQiLCJpYXQiOjE3MDE1ODMzNzl9.D1VNpMoTUVFOUuQW0y2vSjttZwj0sKBX33KyrkaRMcQ'
    }

    try:
        # EXTRACT
        response = requests.get(url, headers=headers)
        response.raise_for_status()
        data = response.json().get('observation', {}).get('report', [])
        print(f"Ekstraksi data dari {url} berhasil.")

        # TRANSFORM (Dengan logika penanganan nilai kosong yang lebih baik)
        records = []
        for record in data:
            # Mengambil nilai dari API
            lat_val = record.get('latitude')
            lon_val = record.get('longitude')
            temp_val = record.get('temp')
            pressure_val = record.get('pressure')

            # Menambahkan data ke list records
            records.append({
                "icao_id": record.get('icao_id'),
                "observed_time": datetime.strptime(record['observed_time'], '%Y-%m-%d %H:%M:%S'),
                "station_name": record.get('station_name'),
                # INI PERBAIKANNYA: Jika nilai ada, ubah ke float. Jika tidak (kosong atau None), jadikan None.
                "latitude": float(lat_val) if lat_val else None,
                "longitude": float(lon_val) if lon_val else None,
                "weather": record.get('weather'),
                # Logika yang sudah ada untuk temperatur dan tekanan
                "temperature_celsius": int(temp_val) if temp_val and temp_val.isdigit() else None,
                "pressure_hpa": int(pressure_val) if pressure_val and pressure_val.isdigit() else None
            })

        df_aviation = pd.DataFrame(records)
        print("\nData yang akan dimasukkan (Transform):")
        display(df_aviation.head())

        # LOAD
        if not df_aviation.empty:
            for index, row in df_aviation.iterrows():
                cur.execute(
                    """
                    INSERT INTO aviation_observation (icao_id, observed_time, station_name, latitude, longitude,
                    weather, temperature_celsius, pressure_hpa)
                    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
                    ON CONFLICT (icao_id, observed_time) DO NOTHING;
                    """, tuple(row)
                )
            conn.commit()
            print(f"\nLoad berhasil: {len(df_aviation)} baris data dimasukkan/dilewati ke tabel 'aviation_observation'.")
        else:
            print("\nTidak ada data observasi penerbangan untuk dimasukkan.")

    except Exception as e:
        print(f"Terjadi error: {e}")
        if 'conn' in locals() and conn:
            conn.rollback()
            print("Transaksi dibatalkan (rollback).")

--- Memulai ETL 3: Observasi Penerbangan ---
Ekstraksi data dari https://cuaca.bmkg.go.id/api/v1/aviation/latest/observation.json berhasil.

Data yang akan dimasukkan (Transform):

,icao_id,observed_time,station_name,latitude,longitude,weather,temperature_celsius,pressure_hpa
0,WITN,2025-07-02 09:00:00,Maimun Saleh - Sabang,5.876667,95.340000,Berawan,28,1011
1,WITT,2025-07-02 09:00:00,Sultan Iskandar Muda - Banda Aceh,5.520000,95.420833,Berawan,26,1009
2,WITC,2025-07-02 09:00:00,"Cut Nyak Dien Nagan Raya - Meulaboh, NAD",4.045000,96.249444,Berawan,26,1011
3,WIMA,2025-07-02 09:00:00,Malikus Saleh - Lhokseumawe,5.225833,96.948611,Cerah - berawan,29,1009
4,WIMB,2025-07-02 09:00:00,Binaka - Gunung Sitoli,1.166389,97.704444,Cerah - berawan,28,1011

Load berhasil: 119 baris data dimasukkan/dilewati ke tabel 'aviation_observation'.

In [22]:
print("--- Memulai ETL 4: Video Cuaca Terbaru ---")

# Pastikan variabel 'conn' dan 'cur' ada dari sel sebelumnya
if 'conn' not in locals() or not conn:
    print("Error: Koneksi database tidak ditemukan. Jalankan Sel 3 terlebih dahulu.")
else:
    url = "https://cuaca.bmkg.go.id/api/v1/public/weather/video-latest?hashtag=infobmkgpws"

    # Menggunakan API Key yang sama
    headers = {
        'x-api-key': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjFjNWFkZWUxYzY5MzM0NjY2N2EzZWM0MWRlMjBmZWZhNDcxOTNjYzcyZDgwMGRiN2ZmZmFlMWVhYjcxZGYyYjQiLCJpYXQiOjE3MDE1ODMzNzl9.D1VNpMoTUVFOUuQW0y2vSjttZwj0sKBX33KyrkaRMcQ'
    }

    try:
        # EXTRACT
        response = requests.get(url, headers=headers)
        response.raise_for_status()
        data = response.json()
        print(f"Ekstraksi data dari {url} berhasil.")

        # TRANSFORM
        if data:
            df_videos = pd.DataFrame(data)
            # Mengganti nama kolom 'videoUrl' menjadi 'video_url' agar sesuai dengan skema database
            df_videos = df_videos.rename(columns={'videoUrl': 'video_url'})

            print("\nData yang akan dimasukkan (Transform):")
            display(df_videos)

            # LOAD
            if not df_videos.empty:
                for index, row in df_videos.iterrows():
                    cur.execute(
                        """
                        INSERT INTO weather_videos (title, video_url)
                        VALUES (%s, %s)
                        ON CONFLICT (title) DO NOTHING;
                        """,
                        (row['title'], row['video_url'])
                    )
                conn.commit()
                print(f"\nLoad berhasil: {len(df_videos)} baris data dimasukkan/dilewati ke tabel 'weather_videos'.")
        else:
            print("\nTidak ada data video untuk dimasukkan.")

    except Exception as e:
        print(f"Terjadi error: {e}")
        if 'conn' in locals() and conn:
            conn.rollback()
            print("Transaksi dibatalkan (rollback).")

--- Memulai ETL 4: Video Cuaca Terbaru ---
Ekstraksi data dari https://cuaca.bmkg.go.id/api/v1/public/weather/video-latest?hashtag=infobmkgpws berhasil.

Data yang akan dimasukkan (Transform):

,title,video_url
0,"Prakiraan Cuaca Esok Hari, Rabu, 02 Juli 2025.",https://www.youtube.com/watch?v=PJhSUK8LprQ
1,"Prakiraan Cuaca Esok Hari, Selasa, 01 Juli 2025",https://www.youtube.com/watch?v=lX5FFHpwavo
2,"Prakiraan Cuaca Esok Hari, Senin, 30 Juni 2025.",https://www.youtube.com/watch?v=LGB3bBt7ajc
3,"Prakiraan Cuaca Esok Hari, Minggu, 29 Juni 2025.",https://www.youtube.com/watch?v=cD7vwjRVRUc
4,"Prakiraan Cuaca Esok Hari Sabtu, 28 Juni 2025",https://www.youtube.com/watch?v=YYnDXzyWEF0
5,"Prakiraan Cuaca Esok Hari, Jumat, 27 Juni 2025",https://www.youtube.com/watch?v=g8lvWXNSBrA

Load berhasil: 6 baris data dimasukkan/dilewati ke tabel 'weather_videos'.

In [24]:
if 'conn' in locals() and conn:
    cur.close()
    conn.close()
    print("Koneksi ke database telah ditutup. Proses ETL selesai!")

Koneksi ke database telah ditutup. Proses ETL selesai!